@model Users.Models.DashboardModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
	<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->
<div class="row">

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ukupan broj dogadaja</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@Model.EventsCount</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Danas rezervacija</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TodaysReservations</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">@Model.MostInterestedEvent.Name</div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.MostInterestedEventPercetage%</div>
							</div>
							<div class="col">
								<div class="progress progress-sm mr-2">
									<div class="progress-bar bg-info" role="progressbar" style="width: @Model.MostInterestedEventPercetage%" aria-valuenow="@Model.MostInterestedEventPercetage" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Pending Requests Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Neporcitane poruke</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@Model.UnreadedMessages</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-comments fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Content Row -->
<!-- moj row-->
<div class="row">

	<!-- Area Chart -->
	<div class="col-xl-8 col-lg-7">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Zadnjih 5 dogadjaja</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
			
					<table class="w-100 h-auto ">
						<thead>
							<tr>
								<th>
									Naziv
								</th>
								<th>
									Vrijeme pocetka
								</th>
								<th>
									Vrijeme kraja
								</th>
								<th>
									Detalji
								</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.LastEvents)
							{
								<tr class="dash-table-row">
									<td>
										@item.Name
									</td>
									<td>
										@item.DateStart
									</td>
									<td>
										@item.DateEnd
									</td>
									<td>
										@Html.ActionLink("Details", "Details","Events", new { id = item.Id },null)
									</td>
								</tr>
							}

						</tbody>
					</table>
			
			</div>
		</div>
	</div>

	<!-- Pie Chart -->
	<div class="col-xl-4 col-lg-5">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Zadnjih 5 rezervacija</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<table class="w-100 h-auto ">
					<thead>
						<tr>
							<th>
								Dogadjaj
							</th>
							<th>
								Karta
							</th>
							<th>
								Kolicina
							</th>
							<th>
								Vrijeme
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.LastReservations)
						{
							<tr class="dash-table-row">
								<td>
									@item.Ticket.Event.Name
								</td>
								<td>
									@item.Ticket.Name
								</td>
								<td>
									@item.Quantity
								</td>
								<td>
									@item.Created
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Content Row -->
<div class="row">

	<!-- Content Column -->
	<div class="col-lg-6 mb-4">

		<!-- Project Card Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Popunjenost karata na zadnjim dogadjajima</h6>
			</div>
			<div class="card-body">
				@foreach (var item in Model.LastEvents)
				{
					<h4 class="small font-weight-bold">@item.Name<span class="float-right">@item.PercetnageReservation%</span></h4>
					<div class="progress mb-4">
						<div class="progress-bar bg-success" role="progressbar" style="width: @item.PercetnageReservation%" aria-valuenow="@item.PercetnageReservation" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				}
			</div>
		</div>

		<!-- Color System -->
	

	</div>


</div>