@model Users.Models.MoreDayEventModel
@{
	ViewBag.Title = "Create3";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
	<div class="card-body">
		<table class="w-100">
			<thead>
				<tr>
					<th>
						Datum
					</th>
					<th>
						Pocetak
					</th>
					<th>
						Kraj
					</th>
					<th>
						Izbrisi
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Data.Models.EventDate item in Model.EventDates)
				{
					<tr>
						<td>
							@item.DateStart.ToShortDateString()
						</td>
						<td>
							@item.DateStart.ToString("hh:mm")
						</td>
						<td>
							@item.DateEnd.ToString("hh:mm")
						</td>
						<td>
							@Html.ActionLink("Izbrisi", "DeleteEventDate", new { eventDateId = item.Id, eventId = Model.eventId })
						</td>
					</tr>
				}

			</tbody>
		</table>
	</div>
</div>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.eventId)
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Vrijeme</h6>
		</div>
		<div class="card-body">
			<div class="form-group ">
				@Html.LabelFor(model => model.DateStart, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-4 d-inline">
					@Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control date-picker", @type = "datetime-local" } })
					@Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group ">
				@Html.LabelFor(model => model.DateEnd, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-4 d-inline">
					@Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control date-picker", @type = "datetime-local" } })
					@Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" style="float:right; margin: 10px;">
		@Html.ActionLink("Karte", "Create4", new { eventId = Model.eventId }, htmlAttributes: new { @class="btn btn-default bg-primary white-text"})
		@Html.ActionLink("Kraj", "Index",null, htmlAttributes: new { @class="btn btn-default bg-primary white-text"})
		<input type="submit" value="Spremi" class="btn btn-default bg-primary white-text" />

	</div>
}
