@model PagedList.IPagedList<Data.Models.Event>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Dogadaji</h6>
	</div>
	<div class="card-body">
		<table class="table">
			<tr>
				<th>
					Naziv
				</th>
				<th>
					Vrijeme pocetka
				</th>
				<th>
					Vrijeme zavrsetka
				</th>
				<th>
					zanimljivo
				</th>
				<th>
					featured
				</th>
				<th>
					lokacija
				</th>
				<th>
					vrsta
				</th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TimeStart)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TimeEnd)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Interesting)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Featured)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Location.Address)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TypeEvent.Name)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
						@Html.ActionLink("Details", "Details", new { id = item.Id }) |
						@Html.ActionLink("Delete", "Delete", new { id = item.Id })
					</td>
				</tr>
			}

		</table>
	</div>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
